.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
bootstrap/cache/*.php
.phpunit.cache
tests
docs
*.md
.idea
.vscode
.DS_Store
