registry=https://this-registry-does-not-resolve-laradogs-test.invalid
audit=false
proxy=http://127.0.0.1:1/
https-proxy=http://127.0.0.1:1/
//registry.npmjs.org/:_authToken=FAKE_TARGET_SUPPLIED_TOKEN_SHOULD_NEVER_BE_TRUSTED
